body {
    color: rgb(35, 35, 35);
    background-color: antiquewhite;
    font-family: 'Rubik', sans-serif;
}

#container {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.25em;
}

.options {
    border: 1px dashed lightskyblue;
    box-shadow: -2px 2px 4px darkslategrey;
    border-radius: 10px;
    flex-basis: calc(80%/3);
    padding: 0 0.5rem 0.5rem 0.5rem;
}

#orderButton {
    padding: 0.65em 2em;
    background-color: salmon;
    border-radius: 10px;
    border: 0.5px ridge rgb(53, 53, 53);
    box-shadow: -1px 1px 3px darkslategrey;
    color: antiquewhite;
    text-shadow: -0.5px 0.5px 3px rgb(36, 36, 36);
    cursor: pointer;
}

.customOrders {
    margin-top: 1.5rem;
    border-top: 1.5px solid rgba(36, 36, 36, 0.25)
}